<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="userName" class="form-label">Username *</label>
    <input type="text" id="userName" formControlName="userName" class="form-control" />
    <p class="small text-danger mt-1" *ngIf="userNameError">{{ userNameError }}</p>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password *</label>
    <input type="password" id="password" formControlName="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">Login</button>
</form>
