<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="mb-3">
    <label for="name" class="form-label">Name *</label>
    <input type="text" id="name" formControlName="name" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email *</label>
    <input type="email" id="email" formControlName="email" class="form-control" />
    @if (email?.dirty) {
    <small *ngIf="email?.errors?.['required']" class="text-danger mt-1">Email is required.</small>
    <small *ngIf="email?.errors?.['email']" class="text-danger mt-1"
      >Enter a valid email address.</small
    >
    }
  </div>
  <div class="mb-3">
    <label for="passwordReg" class="form-label">Password *</label>

    <input type="password" id="passwordReg" formControlName="password" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm Password *</label>
    <input
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword"
      class="form-control"
    />
    @if (registerForm.errors?.['mismatch']) {
    <div class="text-danger mt-1">Passwords do not match.</div>
    }
  </div>

  <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.valid">
    Register
  </button>
</form>
